###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.cs     diff=csharp
*.slnx   merge=binary
*.csproj merge=binary

###############################################################################
# binary files
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary
*.ico   binary
*.svg   binary
*.pdf   binary
*.gz    binary
*.zip   binary

# shell scripts
*.sh    text eol=lf
