@inherits RazorSharpEmail.EmailTemplate<object>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; padding: 0;">
<head style="margin: 0; padding: 0;">
    <meta name="viewport" content="width=device-width" style="margin: 0; padding: 0;">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0; padding: 0;">
    <title style="margin: 0; padding: 0;">@ViewBag.Subject</title>

</head>

<body >

    <!-- HEADER -->
    
    <!-- /HEADER -->

    @RenderBody()

</body>
</html>
