<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <time xsi:type="FastUTC" />

  <variable name="logDirectory" value="${basedir}/Logs" />

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="Exceptionless.NLog"/>
  </extensions>

  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="500" bufferSize="100">
      <target xsi:type="ElasticSearch" connectionStringName="ElasticSearchConnectionString" layout="${message}" includeAllProperties="true">
        <field name="source" layout="${logger}" />
        <field name="host" layout="${machinename}" />
        <field name="identity" layout="${identity}" />
        <field name="windows_identity" layout="${windows-identity:userName=True:domain=False}" />
        <field name="process" layout="${processname}" />
      </target>
    </target>

    <target name="exceptionless"  xsi:type="Exceptionless">
      <field name="identity" layout="${identity}" />
    </target>
    
    <target xsi:type="Trace" name="trace" />

    <target name="rollingFile"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/log.txt"
            archiveFileName="${logDirectory}/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true" />

    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:MM\:ss} ${logger:shortName=true} ${message}"></target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="rollingFile" />
    <logger name="*" minlevel="Info" writeTo="console,elastic" />
    <logger name="*" level="Error" writeTo="exceptionless" />
  </rules>
</nlog>
