@inherits RazorSharpEmail.EmailTemplate<Foundatio.Skeleton.Domain.Mail.Models.InviteModel>
@{ Layout = "_Layout.html.cshtml"; }

<!-- BODY -->

<div class="content" style="margin: 0 auto; padding: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 720px; min-width: 600px; display: block; text-align: center; background-color: #f7f8f9; border-top: 5px solid #0088cc;">

    <h2 style="font-size: 22px;line-height:36px;font-weight:bold;color:#47525D;text-align: center; margin-top: 40px; margin-bottom: 20px;">You've been invited to use Foundatio Skeleton!</h2>

    <p style="font-size:18px;line-height:24px;margin-bottom:18px;color:#6d6d6d;text-align: center;">
        @Model.Organization.Name started using <a href="@Model.BaseUrl" rel="notrack">Foundatio Skeleton</a>. You have been invited to join the team.</p>

    <p style="text-align: center; margin-bottom: 20px;"><a rel="nofollow" target="_blank" href="@Model.BaseUrl/#/signup/invite/@Model.Invite.Token" style="margin: 10px auto 24px;padding: 14px;font-size: 16px;min-width: 220px;color: #fff;text-decoration: none;background-color: #2ab27b;font-weight: bold;margin-right: 10px;text-align: center;display: inline-block;border-radius: 3px;"> Join the Team </a></p>

    <hr style="margin:1.5rem 0;width:100%;border:none;border-bottom:1px solid #ededed">

    <p>Once you activate your account, you can visit <a target="_blank" href="http://foundatio.com">http://foundatio.com</a> to sign in.</p>

    <hr style="margin:1.5rem 0;width:100%;border:none;border-bottom:1px solid #ededed">

  <table cellspacing="0" cellpadding="0" border="0" style="margin:0 auto 6px 0;width:100%">
    <tbody><tr style="border:0">
      <td valign="top" align="center" style="border:0;margin:0;padding:30px 0">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0">
          <tbody><tr style="border:0">
            <td align="center" valign="middle" style="border:0;margin:0">
              <a href="http://www.foundatio.com" title="Visit Foundatio Skeleton" style="color:#ccc;text-decoration:none" target="_blank">
                Foundatio Skeleton
              </a>
            </td>
          </tr>
        </tbody></table>

      </td>
    </tr>
  </tbody></table>

</div>


<!-- /BODY -->
